# Flutter
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/.pub-cache/

# Android
app/android/.gradle/
app/android/local.properties

# iOS
app/ios/Pods/
app/ios/Flutter/ephemeral/

# macOS
app/macos/Flutter/ephemeral/
app/macos/Pods/

# Linux
app/linux/flutter/ephemeral/

# Windows
app/windows/flutter/ephemeral/

# General
*.log
.DS_Store

# Generated plugin files
app/**/GeneratedPluginRegistrant.*
app/ios/Flutter/Generated.xcconfig
app/ios/Flutter/flutter_export_environment.sh
